*{
	margin:0;
	padding:0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.heading h1{
	margin: 25px 0px 0px 213px;
	padding:10px;
	color:#1d63af;
    font-weight: 100;
    font-size: 40px;
    font-weight: bold;
}
.heading i{
	position: absolute;
    left: 339px;
    top: 26px;
	padding:10px;
	color:#1d63af;
    font-size: 40px;
    font-weight: bold;
}
.container{
	display:flex;
	box-shadow: 0px 0px 10px 10px #f1f1f1;
	height: 520px;
    width: 340px;
	margin-left:480px;
	
}
.title h1{
	margin: 16px 0px 0px 20px;
	font-size: 33px;
    line-height: 1.25;
    font-weight: 600;
    color: rgba(0,0,0,0.9);
}
.title p{
	   margin: 5px 0px 0px 20px
}
.email input{
	margin: 16px 0px 0px 27px;
    font-size: 13px;
    border-radius: 4px;
    font-weight: 400;
    color: rgba(0,0,0,0.9);
    height: 40px;
    width: 272px;
    padding-left: 13px;
    border: 1px solid gray;
}
.password input{
	margin: 16px 0px 0px 27px;
    font-size: 13px;
    border-radius: 4px;
    font-weight: 400;
    color: rgba(0,0,0,0.9);
    height: 40px;
    width: 272px;
    padding-left: 13px;
    border: 1px solid gray;
}
.password a{
	border: 3px solid #0d0b2a00;
	font-weight: 600;
    color:#0058c4;
	position:absolute;
	top: 258px;
    left: 738px;
	text-decoration: none;
	transition: 0.3ms all ease;
	border-radius: 13px;
	padding: 1px 4px;
}
.password a:hover{
    color:#0058c4;
}
.pass{
    margin:14px 0px 0px 30px;
}
.pass a{
	border: 3px solid #0d0b2a00;
	border-radius: 13px;
	color:#0058c4;
    font-size: 19px;
    font-weight: 700;
	text-decoration:none;
}
.pass a:hover{
    color:#1d63af;
}
.btn{
    margin: 35px 0px 0px 30px;
}
.btn a{
    
	background-color: #0058c4;
    padding: 5px 108px 10px 103px;
    color: white;
    font-size: 24px;
    border-radius: 37px;
    cursor: pointer;
	text-decoration:none;
}
.btn a:hover{
	 color: white;
	 background-color: #2576d9;
}
.hr{
	margin: 40px 0px 0px 161px;
}
.hr h3{
    position: absolute;
    top:26rem;
    left:647px;
    color: #8080809e;
}
.hr .hr1{
	border-bottom: 1px solid #80808059;
    width: 125px;
    position: absolute;
    top: 27rem;
    left: 32rem;
}
.hr .hr2{
	border-bottom: 1px solid #80808059;
    width: 125px;
    position: absolute;
    top: 27rem;
    left: 42rem;
}
.google{
	margin:37px 0px 0px 30px;
}
.google a{
	border: 1px solid #5252524d;
    text-decoration: none;
    padding: 10px 66px;
    border-radius: 21px;
	color: gray;
	position:absolute;
    top:28em;
}
.google i{
	position:absolute;
	top: 458px;
    left: 554px;
}
.apple{
    margin: 48px 0px 0px 33px;
}
.apple a{
border: 1px solid #5252524d;
color:gray;
text-decoration: none;
padding: 10px 77px;
border-radius: 21px;
position:absolute;
top:32em;
}
.apple i{
position:absolute;
top: 522px;
left: 570px;
}
.join{
    margin: 25px 0px 0px 528px;
}
.join h4{
font-size: 16px;
padding: 0px 25px;
color: gray;
position:relative;
font-weight:600;
}
.join a{
color:#0058c4;
font-weight:500;
position:absolute;
text-decoration:none;
top: 644px;
left: 684px;
}
.link{
	margin:45px 0px 0px 303px;
}
.link a{
	padding:10px;
	text-decoration:none;
	color:gray;
	font-size: 12px;
}